<div class="app_body">
<h1> Cities </h1>

<button type="button">
  <%= link_to "Add a city", new_city_path %>
</button>

<% @cities.each do |city| %>

<h2>
  <%= link_to "#{city.name}", city_path(city) %>
</h2>

<% end %>

</div>
